$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;


.servico_rigth{

  .container {
    width: 960px;
    margin: 0 auto;
    display: block;
  
    @media screen and (min-width: $celular) {
      width: 100%;
    }
  
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
  
    @media screen and (min-width: $notebook) {
      width:  960px;
    }
  
    @media screen and (min-width: $desktop) {
      width:  960px;
    }
  
  
    .row {
      display: flex;
      flex-direction: row;
  
      @media screen and (min-width: $celular) {
        flex-direction: column;
      }
  
      @media screen and (min-width: $tablet) {
        flex-direction: row;
      }
  
      @media screen and (min-width: $notebook) {
        flex-direction: row;
      }
  
      @media screen and (min-width: $desktop) {
        flex-direction: row;
      }
  
      .coluna {
  
        flex: 1;
  
        @media screen and (min-width: $celular) {
          flex: 1;
        }
  
        @media screen and (min-width: $tablet) {
          flex: 1;
        }
  
        @media screen and (min-width: $notebook) {
          flex: 1;
        }
  
        @media screen and (min-width: $desktop) {
          flex: 1;
        }
  
      }
  
    }
  
  }
  .background{
    background-color: #f2f1ef;
    margin: 50px 30px;
    .col_texto{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .texto_left{
        font-family: "Nexa Bold";
        color: #575756;
        text-align: left;
        width: 210px;
        padding: 50px 0px 20px 50px;
        font-size: 15px;
        @media screen and (min-width: $celular) {
          text-align: center;
          width: 100%;
          padding: 50px 10px 20px 10px;
        }
    
        @media screen and (min-width: $tablet) {
          text-align: left;
          width: 210px;
          padding: 50px 0px 20px 50px;
        }
    
        @media screen and (min-width: $notebook) {
          text-align: left;
          width: 210px;
          padding: 50px 0px 20px 50px;
        }
    
        @media screen and (min-width: $desktop) {
          text-align: left;
          width: 210px;
          padding: 50px 0px 20px 50px;
        }
      }
    .p_left{
      font-family: "Nexa Bold";
      color: #aa9da9;
      text-align: left;
      width: 325px;
      padding: 0px 0px 0px 50px;
      font-size: 15px;
      @media screen and (min-width: $celular) {
        width: 100%;
        text-align: center;
        padding: 10px 10px;
      }
  
      @media screen and (min-width: $tablet) {
        width: 325px;
        text-align: left;
        padding: 0px 0px 0px 50px;
      }
  
      @media screen and (min-width: $notebook) {
        width: 325px;
        text-align: left;
        padding: 0px 0px 0px 50px;
      }
  
      @media screen and (min-width: $desktop) {
        width: 325px;
        text-align: left;
        padding: 0px 0px 0px 50px;
      }
    }
  }
}

.flex1{
  flex: 2;
  display: flex;
  justify-content: flex-end;
  .img1{
      background-size: cover;
      background-position: center;
      height: 325px;
      width: 90%;
      @media screen and (min-width: $celular) {
        height: 200px;
        width: 100%;
      }
  
      @media screen and (min-width: $tablet) {
        height: 325px;
        width: 90%;
      }
  
      @media screen and (min-width: $notebook) {
        height: 325px;
      width: 90%;
      }
  
      @media screen and (min-width: $desktop) {
        height: 325px;
        width: 90%;
      }
  }
}
  
}
