$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;


.banner_servicos{
  .slider{
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
