$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;


.banner{
     // CONTROLE DO SLIDER
     .slick_next{
        width: 30px;
        height: auto;
        z-index: 2;
        position: absolute;
        right: 50px;
        top: calc(550px /1.7);
        color: #000;
        @media screen and (min-width: $celular) {
          display: none;
        }
      
        @media screen and (min-width: $tablet) {
          display: none;
        }
      
        @media screen and (min-width: $notebook) {
          display: block;
        }
      
        @media screen and (min-width: $desktop) {
          display: block;
        }
      }
      .slick_prev{
        width: 30px;
        height: auto;
        left: 40px;
        z-index: 2;
        position: absolute;
        top: calc( 550px / 1.7);
        color: #000;
        @media screen and (min-width: $celular) {
          display: none;
        }
      
        @media screen and (min-width: $tablet) {
          display: none;
        }
      
        @media screen and (min-width: $notebook) {
          display: block;
        }
      
        @media screen and (min-width: $desktop) {
          display: block;
        }
      }
  .slider{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 700px;
    @media screen and (min-width: $celular) {
      height: 400px;
    }

    @media screen and (min-width: $tablet) {
        height: 500px;
    }

    @media screen and (min-width: $notebook) {
      height: 700px;
    }

    @media screen and (min-width: $desktop) {
      height: 700px;
    }
    h1{
        font-family: 'Nexa Bold';
        // font-family: 'Nexa Black';
        font-size: 40px;
        color: #fff;  
        margin-bottom: 20px;
        width: 350px;
        margin: 0px auto;
        @media screen and (min-width: $celular) {
            width: 100%;
            text-align: center;
        }
      
        @media screen and (min-width: $tablet) {
            width: 100%;
            text-align: center;
        }
      
        @media screen and (min-width: $notebook) {
            width: 350px;  
            text-align: left;
        }
      
        @media screen and (min-width: $desktop) {
            width: 350px;
            text-align: left;
        }
      }
    
    .coluna_play{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
        .icon_play{
            color: white;
            width: 90px;
            height: auto;
            background-color: rgba(255,255,255,0.3);
            border-radius: 100px;
            padding: 10px;
            &:hover{
                background-color: #0c6498;
                color: white;
            }
        }
    }
}
}
