$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;




//container geral
.container {
  width: 1100px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: $celular) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
  }

  @media screen and (min-width: $notebook) {
    width: 1100px;
  }

  @media screen and (min-width: $desktop) {
    width: 1100px;
  }


  .row {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: $celular) {
      flex-direction: column;
    }

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }

    @media screen and (min-width: $notebook) {
      flex-direction: row;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }

    .coluna {

      flex: 1;

      @media screen and (min-width: $celular) {
        flex: 1;
      }

      @media screen and (min-width: $tablet) {
        flex: 1;
      }

      @media screen and (min-width: $notebook) {
        flex: 1;
      }

      @media screen and (min-width: $desktop) {
        flex: 1;
      }

    }

  }

}

.footer{
  padding: 50px 0;
  // background-color: #f1f3f2;
  background-color: #fff;
  .logo{
    flex: 1; 
    display: flex;
    justify-content: center;
  }
  .coluna{
    flex: 1;
    padding: 20px;
    margin: 0px;
    @media screen and (min-width: $celular) {
      text-align: center;
      margin: 0px auto;
    }
    @media screen and (min-width: $tablet) {
      text-align: center;
      margin: 0px auto;
    }
    @media screen and (min-width: $notebook) {
     text-align: left;
     margin: 0px;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
      margin: 0px;
    }
  }
  img{
    width: 120px;
    height: 120px;
    text-align: center;
  }
  h1{
    font-family: "Nexa Bold";
    white-space: nowrap;
    font-size: 18px;
    color: #575756;
    margin-bottom: 20px;
    @media screen and (min-width: $celular) {
      text-align: center;
    }
    @media screen and (min-width: $tablet) {
      text-align: center;
    }
    @media screen and (min-width: $notebook) {
     text-align: left;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
  p{
    font-family: "Nexa Bold";
    color: #777775;
    font-size: 12px;
    text-align: left;
    width: 250px;
    @media screen and (min-width: $celular) {
      text-align: center;
      width: 100%;
    }
    @media screen and (min-width: $tablet) {
      text-align: left;
      width: 100%;
    }
    @media screen and (min-width: $notebook) {
     text-align: left;
     width: 250px;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
      width: 250px;
    }
  }
  
  ul{
    padding: 15px 0px; 
    display: flex;
    @media screen and (min-width: $celular) {
     justify-content: center;     
    }
    @media screen and (min-width: $tablet) {
      justify-content: center;
    }
    @media screen and (min-width: $notebook) {
      justify-content: left;
    }
    @media screen and (min-width: $desktop) {
      justify-content: left;
    }
    li{
      a{
        margin-right: 5px;
        transition: all 0.2s;
        svg{
          color: #4b4d53;
          height: auto;
          width: 35px;
        }
      }
      .instagram:hover{
        svg{
          color: #da0feb;
        }
      }
      .whatsapp:hover{
        svg{
          color: #3abc20;
        }
      }
    }
  }
}