$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;


.sobre{
  background-color: #fff;
  padding: 50px;
  @media screen and (min-width: $celular) {
    padding: 10px;
  }

  @media screen and (min-width: $tablet) {
    padding: 10px;
  }

  @media screen and (min-width: $notebook) {
    padding: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding: 50px;
  }
  .texto{
    font-family: "Nexa Bold";
    font-size: 17px;
    color: #9d9d9d;
    text-align: center;
    width: 960px;
    // padding: 30px 50px 50px;
    margin: 0 auto;
    @media screen and (min-width: $celular) {
      width: 100%;
      // padding: 10px;
    }
  
    @media screen and (min-width: $tablet) {
      width: 100%;
      // padding: 10px;
    }
  
    @media screen and (min-width: $notebook) {
      width: 960px;
      // padding: 30px 50px 50px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 960px;
      // padding: 30px 50px 50px;
    }
  }
  .coluna{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    img{
        height: auto;
        width: 130px;
    }
    .info{
      font-family: "Nexa Bold";
      font-size: 12px;
      color: #9d9d9d;
      width: 320px;
      text-align: center;
      @media screen and (min-width: $celular) {
        width: 100%;
      }
    
      @media screen and (min-width: $tablet) {
        width: 100%;
      }
    
      @media screen and (min-width: $notebook) {
        width: 320px;
      }
    
      @media screen and (min-width: $desktop) {
        width: 320px;
      }
    }
  }
}
