$celular: 320px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1300px;

.contato{
    background-color: #f2f1ef;
    padding: 50px;
    @media screen and (min-width: $celular) {
       padding: 50px 10px;
      }
    
      @media screen and (min-width: $tablet) {
       padding: 50px;
      }
    
      @media screen and (min-width: $notebook) {
        padding: 50px;
      }
    
      @media screen and (min-width: $desktop) {
        padding: 50px;
      }

h1{
    font-family: "Nexa Bold";
    color: #575756;
    font-size: 20px;
    width: 250px;
    padding: 20px 0px 30px 50px;
    text-align: left;
    @media screen and (min-width: $celular) {
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
     
    @media screen and (min-width: $tablet) {
        width: 250px;
        text-align: left;
    }
     
    @media screen and (min-width: $notebook) {
        width: 250px;
        text-align: left;
    }
     
    @media screen and (min-width: $desktop) {
        width: 250px;
        text-align: left;
    }
}

.end{
    font-family: "Nexa Bold";
    font-size: 12px;
    color: #575756;
    padding: 0px 30px 20px 50px;
    width: 250px;
    @media screen and (min-width: $celular) {
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
     
    @media screen and (min-width: $tablet) {
        width: 250px;
        text-align: left;
    }
     
    @media screen and (min-width: $notebook) {
        width: 250px;
        text-align: left;
    }
     
    @media screen and (min-width: $desktop) {
        width: 250px;
        text-align: left;
    }
}
a{
    margin-right: 5px;
    transition: all 0.2s;
    svg{
      color: #4b4d53;
      height: auto;
      width: 35px;
    }
  }
  .instagram:hover{
    svg{
      color: #da0feb;
    }
  }
  .whatsapp:hover{
    svg{
      color: #3abc20;
    }
  }
.fone{
    font-family: "Nexa Bold";
    font-size: 10px;
    color: #575756;
    padding: 0px 30px 5px 50px;
    @media screen and (min-width: $celular) {
        width: 100%;
        text-align: center;
        padding: 0px 0px;
    }
     
    @media screen and (min-width: $tablet) {
        width: 250px;
        text-align: left;
    }
     
    @media screen and (min-width: $notebook) {
        width: 250px;
        text-align: left;
    }
     
    @media screen and (min-width: $desktop) {
        width: 250px;
        text-align: left;
    }
}
.icon{
    color: #575756;
    height: auto;
    width: 15px;
    margin-right: 10px;
}
}
.coluna{
    flex: 1;
    padding: 10px;
  }
  form{
    .form{
        padding: 10px 15px;
        font-family: "Nexa Bold";
        font-size: 12px;
        width: 100%;
        columns: #000000;
        border: 1px solid gray;
    }
    .email{
        padding: 10px 15px;
        font-family: "Nexa Bold";
        font-size: 12px;
        width: 100%;
        columns: #000000;
        border: 1px solid gray; 
    }
    .text{
        width: 100%;
        padding: 10px 15px;
        height: 200px;
        font-family: "Nexa Bold";
        font-size: 12px;
        columns: #000000;
        border: 1px solid gray;
    }
    .button{
        padding: 15px 15px;
        width: 100%;
        font-size: 15px;
        padding: 10px;
        font-family: "Nexa Bold";
        color: #fff;
        border: none;
        background-color: #a88464;
        background: linear-gradient(to bottom,  #a88464 20%,#c6ab8a 100%);
        transition: all 0.2s;
        font-weight: 600;
        cursor: pointer;
      &:hover{
      //   background-color: #4075bb;
      }
    }
  }