.banner_blog{
    background-color: #a88464;
    background: linear-gradient(to bottom,  #a88464 20%,#c6ab8a 100%);
    height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    h1{
        font-family: 'Nexa Bold';
        font-size: 35px;
    }
}